# 3rd party stuff managed by package managers like npm or bower
node_modules

# generated stuff
db/mongo/data
db/mongo/log
db/mongo/pid
db/redis/pid
db/redis/dump.rdb
test/coverage
doc/api

# deployment/production stuff
ecosystem.json
log
pid

# IDE files
*.sublime-project
*.sublime-workspace

# other
env.json
